<a href="https://colab.research.google.com/github/huanping313/planets/blob/master/GEOG4016_Ch_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Outline of the Colab file:**

Chapter 1-3

Chapter 4: Mathematical Operators

Chapter 5: Structure and Control

# **Chapter 1-3**
1.General syntax

1.1 Code block and indentation.
Indentation (2-4 spaces) plays a key role in delineating blocks of code. In the following if-statement, the colon : indicates that a code block follows.

In [ ]:
i=1
if i==1:
  x = i+1
  print(x)

1.2 Continuation of lines.
Breaking long lines is easier for reading in python. The \ symbol is used at the end of a code to indicate that the next line is a continuation, yiedling the same outputs in the next two sets of codes.

In [ ]:
y = 'This is a very long string that I want to split over multiple lines. It makes the python code more readable and easier to maintain. So breaking long string is always recommended!'
print(y)

In [ ]:
z = 'This is a very long string that I want to split over multiple lines. \
It makes the python code more readable and easier to maintain. So breaking long string is always recommended!'
print(z)

How can you **print** a long string in multiple lines? (hint: use \n when defining the string)

What if we we want to split the long string **y** into 3 lines by period?

In [ ]:
z2 = 'This is a very long string that I want to split over multiple lines. \
\nIt makes the python code more readable and easier to maintain. So breaking long lines is always recommended!'
print(z2)

This is a very long string that I want to split over multiple lines.
It makes the python code more readable and easier to maintain. So breaking long lines is always recommended!

Let's look at another example:

In [ ]:
n = 1 + 2 + 3 \
    + 4
print(n)

1.3 Comments: Any code between the # symbol and a new line is igored. Shortcut to add comment: pressing control(command)and / at the same time.

In [ ]:
# add up two numbers
a = 2+3
a = a+1
print(a)

2.String operation: concatenation, formatting, and indexing

Strings can be concatenated (combined) by using the + operator.

In [ ]:
b = 'hot'+'dog'
print(b)

Sometimes it is useful to convert one data type into another (i.e., casting). .format() is a powerful tool to make your strings look nice. In the following example, while ‘{0:f}’ sets up a string expecting a float, adding '.1' in front of f limits the amount of decimal places to 1. Similarly, ‘{0:d}’ sets up a string expecting an interger. See textbook page 37 for more formats.

Q1: Can you append a unit (say cm) following the number?

Q2: What if we want to print the integer part of a float number?

In [ ]:
rain = 1.20003
s = 'The amount of rain is {0:.1f}'.format(rain)
print(s)
# answer Q1 by modifying the next line
s1 = 'The amount of rain is {0:.1f}'.format(rain)
print(s1)
# answer Q2 by modifying the next line
s2 = 'The amount of rain is {0:.1f}'.format(rain)
print(s2)

The element of a string can be accessed using index starting with 0. Slicing technique allows to access a range of characters in a string. Range of characters can be indicated by a start index number and an end index number in square brackets, i.e., **string[start, end]**. The start index number has always an inclusive bound and the end index number has always an exclusive bound. In other words, the start index number is included in the range and the end index number is not.

In [ ]:
b = "hello"
print(b[0])
print(b[0:2])
print(b[:])

**3.Data types**

Variables can store different types of data. There are built-in data types in Python.

Numeric Types: int, float, complex

Text Type: string

Boolean Type: bool

Sequence Types: list, tuple, range

Dictionary Type: dict

None Type: NoneType

In [ ]:
# Using type function: type() to determine an object's type

myFirstVariable   = 23
mySecondVariable  = 0.00036
myThirdVariable   = "b"
myFourthVariable   = "Hello, World!"
myFifthVariable  = True

mySixthVariable = ("John", "Mikle", "Desbey")
mySeventhVariable   = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
myEighthVariable  = {"Name":"John", "Age":41, "Occupation":"Doctor"}

myNinthVariable = None
myTenthVariable  = range(0,12)

print(type(myFirstVariable))
print(type(mySecondVariable))
print(type(myThirdVariable))
print(type(myFourthVariable))
print(type(myFifthVariable))
print(type(mySixthVariable))
print(type(mySeventhVariable))
print(type(myEighthVariable))
print(type(myNinthVariable))
print(type(myTenthVariable))

**4.The range() object:**

Syntax: **range(b, e, s)**
Where b is the beginning integer, e is one larger than the last integer to be generated, and s is the stride (default value is 1)

A range object is not an actual list. Instead, it’s an **iterator** that generates the next integer in the sequence on demand as needed.

A range object can be converted to a list by using the list() function

In [ ]:
range(0, 10)

In [ ]:
list(range(0, 10))

In [ ]:
list(range(0, 10, 2))

**5.Composite data indexing & slicing**

Indexing of composite data (such as list, tuple, and dictionary) is the same as for a string. The element of a variable can be accessed using index starting with 0. Syntax: **variable[index]**

Slicing technique allows to access a range of composite data. Syntax: **variable[start, end]**

In [ ]:
a = (0, 1, 2, 3, 4, 5)
print(a[0])
print(a[0:2])
print(a[:])

In [ ]:
a[0] = 9
print(a)

In [ ]:
b = [0, 1, 2, 3, 4, 5]
b[0] = 9
print(b)

For dictionaries, you can use string index to extract specific data

In [ ]:
c  = {"Name":"John", "Age":41, "Occupation":"Doctor"}
print(c["Name"])

In [ ]:
# @title
print(c["Name"] + c["Age"])

# **Chapter 4: Mathematical Operators**

Arithmetic operators:

Addition: x + y

Subtraction: x - y

Multiplication (single asterisk): x * y

Exponentiation (double asterisk): x ** y

Division: x / y

Modulus: x % y (returns the remainder of a division)

Floor division: x // y (rounds the result down to the nearest whole number)

In [ ]:
print(3+2)
print(3-2)
print(3*2)
print(3**2)
print(3/2)
print(3%2) # Could you try replacing 3 with 4 or 4.4?
print(3//2) # Could you try replacing 3 with 4 or 4.4?

Augmented assignment: used as shorthand for replacing the contents of a variable with some operation on the originial variable (x in the following examples).

Assignment operators: +=, -=, *=, /=, //=, %=, **=, :=

x += y is equivalent to x = x + y

x -= y is equivalent to x = x - y

x *= y is equivalent to x = x * y

x /= y is equivalent to x = x / y

x %= y is equivalent to x = x % y

x //= y is equivalent to x = x // y

In [ ]:
a = 3
a += 2 # Could you try other operators?
print(a)

Boolean operators (and, or, not) returns Boolean values of True or False.

In [ ]:
x, y , z = True, False, True
print(x or y) # Could you try replacing y with z?
print(x and y) # Could you try replacing y with z?
print(not y) # Could you try replacing y with z?

Comparison operators:

equal to: ==

not equal to: !=

less than: <

greater than: >

greater than or equal to: >=

less than or equal to: <=

In [ ]:
2 == 3 # Could you try replacing == with other operators?

Chained comparison: Multiple objects can be compared with another using a chained comparison. It has the form: **a comp1 b comp2 c**, where comp1 and comp2 are comparison operators. It's equivalent to **(a comp1 b) and (b comp2 c)**.

In [ ]:
4 == 2*2 < 9 # Could you rewrite it to its complete form?

In [ ]:
5 < 2 < 9

Built-in math functions:

abs(x) returns the absolute value of real value x

max(x,y[,z, ...]) returns the max value of the input list

min(x,y[,z, ...]) returns the min value of the input list

pow(x, y) is the same as x**y

divmod(x, y) returns the tuple containing the truncated division x//y as the 1st element and the modulo x%y as the second element

round(x) returns x rounded to the nearest integer. If the number to be rounded lies equally between two multiples, the number is rounded to the even multiple.

In [ ]:
abs(-3)

In [ ]:
max(3, 4, 5)

In [ ]:
pow(3, 2)

In [2]:
divmod(5, 2)

(2, 1)

In [ ]:
round(4.1) # Could you try replacing 4.1 with 4.5 or 4.9?

# **Chapter 5: Structure and Control**

1.Interactive user input from terminal

syntax: s = input(prompt), where the input()function asks user to type  something after the prompt, s is a string variable that will hold the input

In [ ]:
s = input('Enter data: ')
print(s)

2.Conditional statements

The if statements are used to check against some conditions along the code. There are three forms of the if statements in Python that can be used: if, if ... else, if ... elif ... else.

Syntax #1:

    if condition:
        block of code
Syntax #2:

    if condition:
        block of code
    else:
        block of code

Syntax #3:

    if condition:
        block of code
    elif condition:
        block of code
    ...
    else:
        block of code

In [ ]:
if True:
    print ("Hello, World!")

In [3]:
a = 1 # Try replacing 1 with 0
if a == 1:
  print ("I like coding!")
else:
  print ("I don't like coding!")

I like coding!

In [ ]:
a = 1 # Try replacing 2 with 0
if a == 1:
  print ("I like coding!")
elif a == 0:
  print ("I don't like coding!")
else:
  print ("I like to eat!")

Nested If ... statements

In [13]:
myFirstVariable  = 10 # Try replacing 10 with 20
mySecondVariable = 20
myThirdVariable  = 30

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)
  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)
    if (myThirdVariable == 30):
      print("My third variable is :", myThirdVariable)

Nested if ... else statements

In [9]:
myFirstVariable  = 20 # Try replacing 10 with 20
mySecondVariable = 30

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)

  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)

  else:
    print("My second variable is :", mySecondVariable)

In [ ]:
myFirstVariable  = "a" # Try replacing "A" with "a"
mySecondVariable = "B"

if (myFirstVariable == "A"):
  print("My first variable is :", myFirstVariable)

  if (mySecondVariable == "B"):
    print("My second variable is :", mySecondVariable)

  else:
    print("My second variable is :", mySecondVariable)

else:
  print("My first variable is :", myFirstVariable)

The single-line conditional statements

syntax: [expression 1] if condition else [expression 2]

In [ ]:
# Textbook example in section 5.3.2
a = float(input('Enter number: '))
x = a**2 if a >= 0 else a**3
print(x)

In [ ]:
# Textbook example in section 5.3.2
a = float(input('Enter number: '))
print(a**2) if a >= 0 else a**3

In [ ]:
# Textbook example in section 5.3.3
mylist = ['hi', 'bye']
if mylist:
    print('The list has {0:d} elements.'.format(len(mylist)))
else:
    print('The list is empty.')

In [ ]:
# Textbook example in section 5.3.3
mylist = []
if mylist:
    print('The list has {0:d} elements.'.format(len(mylist)))
else:
    print('The list is empty.')